<h1>New payment_method</h1>

<%= render 'form' %>

<%= link_to 'Back', ( params[:payment].nil? ? "/widgets/payments/new?OrderID=#{params[:OrderID]}" : "/widgets/payments/#{params[:payment]}/edit?OrderID=#{params[:OrderID]}" ) %>
