<h1>Home</h1>
<ol>
<li><%= link_to 'Customers', customers_path %></li>
<li><%= link_to 'Employees', employees_path %></li>
<li><%= link_to 'Orders', orders_path %></li>
<li><%= link_to 'Products', products_path %></li>
</ol>
