<p id="notice"><%= notice %></p>

<p>
  <b>Shippingmethod:</b>
  <%= @shipping_method.ShippingMethod %>
</p>


<%= link_to 'Edit', edit_shipping_method_path(@shipping_method) %> |
<%= link_to 'Back', shipping_methods_path %>
