<h1>Editing schematic</h1>

<%= render 'form' %>

<%= link_to 'Show', @schematic %> |
<%= ( params[:ProductID].nil? ? link_to('Back', schematics_path) : link_to('Back', "/widgets/products/#{params[:ProductID]}") ) %>

