/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

h1 {
	font-family:"Calibri", "Verdana", Sans-serif;
	font-size:3em;
	font-weight:bolder;
	font-variant:small-caps;
	}


table {
	border: 1px solid;
  	border-spacing:0;
  	border-collapse:collapse;
}

th {
	text-align: center;
	}

td {
	padding: 7px 15px 7px 15px;
	text-align: left;
	}


tr:nth-child(odd) {
	background-color: #EEEEFF;
	border: 1px solid;
	}

tr:nth-child(even) {
	background-color: #FFFFFF;
	}
tr:nth-child(1) {
        background-color: #EFEFEF;
	}

tr:hover {
    /*background-color: steelblue;*/
}

tr:nth-child(1):hover {
	background-color: #EFEFEF;
}

table tr td a:hover {
	background-color: lightsteelblue;
	height: 100%;
	width: 100%;
}

.topheader {
	font-size: 28pt;
	background-color: darkorange;
}
			
