/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

h1 {
	font-family:"Calibri", "Verdana", Sans-serif;
	font-size:3em;
	font-weight:bolder;
	font-variant:small-caps;
	}


table {
	border: 1px solid;
  	border-spacing:0;
  	border-collapse:collapse;
}

th {
	text-align: left;
	 padding: 7px 15px 7px 15px;
	}

td {
	padding: 7px 15px 7px 15px;
       /*text-align: left;*/
	}


tr:nth-child(odd) {
	background-color: #EEEEFF;
	border: 1px solid;
	}

tr:nth-child(even) {
	background-color: #FFFFFF;
	}
tr:nth-child(1) {
        background-color: #EFEFEF;
	}

tr:hover {
    /*background-color: steelblue;*/
}

tr:nth-child(1):hover {
	background-color: #EFEFEF;
}

table tr td a:hover {
	background-color: lightsteelblue;
	height: 100%;
	width: 100%;
}

.topheader {
	/*background-color: darkorange;*/
	background: -moz-linear-gradient(left, rgba(255,127,0,1) 0%, rgba(255,223,191,1) 75%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,127,0,1)), color-stop(75%,rgba(255,223,191,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,127,0,1) 0%,rgba(255,223,191,1) 75%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,127,0,1) 0%,rgba(255,223,191,1) 75%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,127,0,1) 0%,rgba(255,223,191,1) 75%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,127,0,1) 0%,rgba(255,223,191,1) 75%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7f00', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	height: 58px;
	width: 70%;
}

.topheader p {
	text-indent:	25px;
	font-weight: bold;
       /* font-family:"Calibri", "Verdana", Sans-serif;*/
	font-family: 'Century Gothic',futura,'URW Gothic L',Verdana,sans-serif;
        font-size: 40px;
	font-variant:small-caps;

	position: relative;
	top: 17px;
	color: white;
	text-shadow: 	-1px -1px 0 black,
			1px -1px 0 black,
			-1px 1px 0 black,
			1px 1px 0 black
			/*5px 4px 4px darkgray*/;

}	

